<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to the Great Number Game!</h1>
    <h2>Im Thinking of an number between 1 and 100</h2>

    <h3>Take a guess</h3>
    {%if  Guess == None  %}
    <div class="start">Lets Start</div>
    {%else%}
    {%if Guess == request.session.random%}
    <div class="Right">
        <p>Right!</p>
    </div>
    {%elif Guess > request.session.random%}
    <div class="TooHigh">Too High</div>
    {%else%}
    <div class="TooLow">Too Low</div>
    {%endif%}
    {%endif%}
    
    <form action="/Do" method="post">
        {% csrf_token %}
      <input type="text" name="number" /><br />
      <input type="button" value="Guess" />
    </form>
  </body>
</html>
